@font-face {
    font-family: "iconfont"; /* Project id 4882603 */
    src: url('//at.alicdn.com/t/c/font_4882603_twao91vucg.woff2?t=1743943253582') format('woff2'),
    url('//at.alicdn.com/t/c/font_4882603_twao91vucg.woff?t=1743943253582') format('woff'),
    url('//at.alicdn.com/t/c/font_4882603_twao91vucg.ttf?t=1743943253582') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
    content: "\e609";
}
